@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide the warning by default */
#landscape-warning {
  display: none;
}

/* Show the warning only on mobile devices in landscape mode */
@media (max-width: 1023px) and (orientation: landscape) {
  #landscape-warning {
    display: flex; /* Show the warning */
  }
}
/* Smooth scrolling */
* {
  scroll-behavior: smooth;
}
.hover-text:hover + .hover-image {
  display: block;
}

.hover-image img {
  width: 500px; /* Adjust as needed */
  height: auto;
  border: 1px solid #ddd;
  background-color: white;
  padding: 5px;
}

.hover-image {
  top: 100%; /* Position the image below the text */
  left: 10%;
}

/* Light theme */
.light body {
  background-color: #90e4c1; 
  color: #f0f0f0; 
  background-image: 
  radial-gradient(800px at 1000px 100px, rgba(29, 78, 216, 0.3), transparent 70%),  
  radial-gradient(600px at 800px 800px, rgba(20, 184, 166, 0.2), transparent 75%),
  radial-gradient(1000px at 1000px 1000px, rgba(29, 78, 216, 0.3), transparent 70%),
  radial-gradient(200px at 500px 1200px, rgba(185, 26, 37, 0.2), transparent 60%),
  radial-gradient(600px at 800px 1800px, rgba(20, 184, 166, 0.2), transparent 75%),
  radial-gradient(700px at 400px 2000px, rgba(29, 78, 216, 0.3), transparent 70%);
  transition: background-color 0.3s, color 0.3s, background-image 0.3s;
}
/* Light theme elements */


.light h1,
.light ul,
.light span,
.light h2,
.light p,
.light h3 {
  color: #023020;
}
.light button {
  background-color: #3944bc;
  color: #023020 ;
}
/* Dark theme */
.dark body {
  background-color: #0f172a;
  color: #94a3b8; 
  background-image: radial-gradient(700px at 1000px 100px, rgba(29, 78, 216, 0.3), transparent 70%),  
                    radial-gradient(600px at 500px 800px, rgba(20, 184, 166, 0.2), transparent 75%),
                    radial-gradient(1000px at 1000px 1000px, rgba(29, 78, 216, 0.3), transparent 70%),
                    radial-gradient(700px at 500px 1200px, rgba(15, 17, 97, 0.2), transparent 60%),
                    radial-gradient(600px at 800px 1800px, rgba(20, 184, 166, 0.2), transparent 75%),
                    radial-gradient(700px at 400px 2000px, rgba(29, 78, 216, 0.3), transparent 70%);
  transition: background-color 0.3s, color 0.3s, background-image 0.3s;
}
.button-gradient {
  background: linear-gradient(45deg, #00bcd4, #3cb371); /* Darker cyan (#00bcd4) and green (#3cb371) */
  color: #023020;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
.dark .button-gradient {
  border: 2.5px solid transparent;
  cursor: pointer;
  background: linear-gradient(#131219, #131219) padding-box, 
              linear-gradient(45deg, #00bcd4, #3cb371) border-box;
  background-size: 200% 200%;
  overflow: hidden;
  animation: rotate 5s linear infinite, glow 2s ease-in-out infinite alternate;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.3), 0 0 10px rgba(60, 179, 113, 0.2); /* Reduced initial glow */
}


@keyframes glow {
  0% {
    box-shadow: 0 0 8px rgba(0, 188, 212, 0.4), 0 0 12px rgba(60, 179, 113, 0.6); /* Slightly increased initial glow */
  }
  100% {
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.4), 0 0 20px rgba(60, 179, 113, 0.4); /* Increased final glow */
  }
}
.dark button,p,h1,h2,h3,span,ul{
  color: #94a3b8;
}

.animated-text {
  display: inline-block; /* Ensures the text is inline and block for animations */
  font-size: 3rem; /* Adjust size as needed */
  font-weight: bold;
  overflow: hidden; /* Hide text overflow during animation */
  white-space: nowrap; /* Prevent line break */
  animation: typing 4s steps(20) infinite; /* Infinite loop for typing animation */
}

@keyframes typing {
  0%, 10% {
    width: 0; /* Start with no text */
  }
  50%, 60% {
    width: 100%; /* Type the text and hold */
  }
  100% {
    width: 0; /* Erase text */
  }
}
.glow-effect {
  animation: glow 2s ease-in-out infinite alternate;
  border-radius: 1rem; /* Adjust as necessary for your design */
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 188, 212, 0.5), 0 0 20px rgba(60, 179, 113, 0.4);
}

html {
  transition: background-color 1s, color 2s;
}
